<p id="notice"><%= notice %></p>

<h1 class="mx-auto text-monospace text-center">Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user, class:"btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class:"btn btn-link" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="d-flex justify-content-center">
 <%= link_to 'New User', new_user_path, class:"btn btn-light text-decoration-none" %>
</div>
